{% extends 'base.html' %}

{% block content %}
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header text-center">Add Categories</div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">Category Name</label>
                                <input type="text" name="cat_name" id="" placeholder="Name" class="form-control mt-2">
                            </div>
                            <div class="form-group mt-2">
                                <label for="">Description</label>
                                <textarea name="cat_desc" id="" cols="30" rows="5" class="form-control mt-2" placeholder="Describe Category"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add Category" class="btn btn-info text-white mt-3 submit_btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- <div class="card">
                    <div class="card-header text-center">Categories</div>
                    <div class="card-body">
                        <Table class="table table-hover table-stripped">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Option</th>
                            </tr>
                            {% for c in cat %}
                                <tr>
                                    <td>{{c.id}}</td>
                                    <td>{{c.cat_name}}</td>
                                    <td>{{c.cat_doc}}</td>
                                    <td>
                                        <button class="btn dropdown-toggle btn-sm p-1 text-white" data-bs-toggle="dropdown" style="background-color: #605ca8!important;">select an option</button>
                                        <ul class="dropdown-menu text-muted">
                                            <li><a href="" class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a></li>
                                            <li><a href="{% url 'delete_category' c.id %}" class="dropdown-item"> <i class="fas fa-trash-alt"></i> Delete</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </Table>
                    </div>
                </div> -->
                <div class="table-box">
                    <div class="table-row table-head">
                        <div class="table-cell first-cell">
                            <p>ID</p>
                        </div>
                        <div class="table-cell">
                            <p>Name</p>
                        </div>
                        <div class="table-cell">
                            <p>Date</p>
                        </div> 
                        <div class="table-cell last-cell">
                            <p>Option</p>
                        </div> 
                    </div>
                    {% for c in cat %}
                        <div class="table-row">
                            <div class="table-cell first-cell">
                                <p>{{c.id}}</p>
                            </div>
                            <div class="table-cell">
                                <p>{{c.cat_name}}</p>
                            </div>
                            <div class="table-cell">
                                <p>{{c.cat_doc}}</p>
                            </div>
                            <div class="table-cell last-cell">
                                <div class="btn-group">
                                    <a href="{% url 'delete_category' c.id %}" class="dropdown-item"> <i class="fas fa-trash-alt" style="color: red; font-size: 20px;"></i></a>
                                    <a href="" class="dropdown-item"> <i class="fas fa-eye" style="color: blue; font-size: 20px;"></i></a>
                                </div>
                            </div>   
                        </div>
                        {% endfor %}
                </div>
                {% if messages %}
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> 
                        <div class="alert alert-primary" role="alert">
                            {{message}}
                        </div>
                    </li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    <!-- Pagbation -->
{% endblock  %}


{% block addpart %}
    <style>
        .submit_btn{
            padding: 5px 165px;
        }
        .table-row{
            display: table;
            width: 100%;
            margin: 10px auto;
            font-family: sans-serif;
            background: transparent;
            padding: 12px 0;
            color: #555;
            font-size: 13px;
            box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
         }
        .table-head{
            background: #8665f7;
            box-shadow: none;
            color: #fff;
            font-weight: 600;
        }
        .submit_btn{
            padding: 5px 165px;
        }
        .table-head .table-cell{
            border-right: none;
        }
        .table-cell{
            display: table-cell;
            width: 20%;
            text-align: center;
            padding: 4px 0;
            border-right: 1px solid #d6d4d4;
            vertical-align: middle;
        }
        .last-cell{
            border-right: none;
        }
        a{
            text-decoration: none;
            color: #555;
        }

        @media only screen and (max-width: 600px) {
        .table-row {
            font-size: 11px;
        }
        .submit_btn{
             padding: 5px 165px;
        }
    }
    </style>
{% endblock %}