{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header text-center">Add Sizing</div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">Size Name</label>
                                <input type="text" name="size_name" id="" placeholder="Name" class="form-control mt-2">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add Sizing" class="btn btn-outline-info mt-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                {% if messages %}
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> 
                        <div class="alert alert-primary" role="alert">
                            {{message}}
                            </div>
                    </li>
                    {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-header text-center">Brands</div>
                    <div class="card-body">
                        <Table class="table table-hover table-stripped">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Option</th>
                            </tr>
                            {% for s in size %}
                                <tr>
                                    <td>{{s.id}}</td>
                                    <td>{{s.size_name}}</td>
                                    <td>{{s.size_doc}}</td>
                                    <td>
                                        <button class="btn dropdown-toggle btn-sm p-1 text-white" data-bs-toggle="dropdown" style="background-color: #605ca8!important;">select an option</button>
                                        <ul class="dropdown-menu text-muted">
                                            <li><a href="" class="dropdown-item" href="#"> <i class="fas fa-edit"></i> Edit</a></li>
                                            <li><a href="{% url 'delete_size' s.id %}" class="dropdown-item"> <i class="fas fa-trash-alt"></i> Delete</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </Table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagbation -->
{% endblock  %}