{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block navbar %}
  
{% endblock  %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="col-lg-9 mt-5">
      <div class="row m-0 p-0">
        <div class="col-lg-4 mx-auto">
          <!-- <div class="card">
            <div class="card-body">
              <img src="../../media/product/404.svg" alt="" class="card-img-top">
            </div>
          </div> -->
        </div>
        <div class="col-lg-8 mx-auto">
          <div class="card border-0">
            <div class="card-body">
              <h1 class="heading">{% trans "Sign In" %}</h1>

              {% get_providers as socialaccount_providers %}
        
              {% if socialaccount_providers %}
                  <p class="side_text">{% blocktrans with site.name as site_name %}Please sign in with one
                  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        
                  <div class="socialaccount_ballot">
        
                    <ul class="socialaccount_providers">
                      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
        
                    <div class="login-or">{% trans 'or' %}</div>
        
                  </div>
        
                  {% include "socialaccount/snippets/login_extra.html" %}
        
              {% else %}  
                  <p class="side_text">{% blocktrans %}If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              {% endif %}
        
              {% load crispy_forms_tags %}
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
        
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="login_input"/>
                {% endif %}
                <div class="form-group mt-3">
                  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
                <div class="form-group mt-3">
                  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block addpart %}
   <style>
     body{
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }
    .heading{
      text-align: center;
    }
    .side_text{
      text-align: center; 
    }
    .container{
        width: 550px;
        margin: 70px auto;
    }
    .container>h1{
        font-family: 'Roboto',  serif;
    }
    .login_input{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 25px;
        border: 2px solid #e9eaea;
        font-size: 14px;
        outline: none;
        transition: all 0.5s ease;
        color: #3e3e40;
    }
    .login_input:focus{
        border: 2px solid #9fb671;
    }
    @media (min-width:768px){
      .login{
        position: relative;
        left: 200px;
      }
      .btn{
        padding: 10px 100px;
      }
    }
   </style>
{% endblock  %}
